.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 16px;
  text-align: left;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
}

.card-info-title {
  text-align: left;
  font-size: 24px;
  margin: 0px;
  font-weight: 700;
}

.card-info-experience {
  margin: 0px;
  font-size: 20px;
}

.card-info-vocation {
  font-size: 24px;
  font-weight: bold;
}

.card-info-action {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 10px;
  font-size: 20px;
  border-radius: 20px;
  border-width: 1px;
  padding: 15px;
}

.button--color {
  background-color: red;
}